<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"><title>Perguntas</title>
    <link type="text/css" rel='stylesheet' href='/stylesheets/style.css' />
    <link type="text/css" rel='stylesheet' media="only screen and (min-width: 530px) and (min-device-width:481px)" href='/stylesheets/wide.css' />
    <link type="text/css" rel='stylesheet' media="only screen and (max-width: 530px)" href='/stylesheets/smartphone.css' />
    
  </head>
  <body>
  <div id="page-wrap">
    <header class="main" id="h1">
    	<h2>Quiz:<span> El Juego de las perguntas</span></h2>
    </header>
    <nav class="main" id="n1" role="navigation">
    	<span><a href="/">Inicio</a></span>
    	<span><a href="/quizes">Pergunta</a></span>
    	<span><a href="/author">Creditos</a></span>
		<form action="/quizes" method="GET">
			<input  type="text" value="" name="search"/>
			<input type="submit" value="Search"/>
		</form>
		
    </nav>
    
    <section class="main" id="s1">
    <div><%- body %></div>
    </section>
    
    <footer  class="main" id="f1">
    <a href="http://es.wikipedia.org/wiki/Quiz">
     Que es un Quiz?</a>
     
     
      <a href="https://github.com/nunofilipemargarido/quiz">Projecto in Git Hub</a>
    </footer>
    <div>
  </body>
</html>
