
<form action="/quizes/answer" method="GET">
    	Pergunta:<%= pergunta %>
    	<br>
    	<input type="text" name="respuesta" value="Responda aqui"/>
    	<input type="submit"  value="Enviar"/>
    
    </form> 

