
<form action="/quizes/<%=quiz.id%>/answer" method="GET">
    	Pergunta:<%= quiz.pergunta %>
    	<br>
    	<input type="text" name="respuesta" value="Respuesta"/>
    	<input type="submit"  value="Enviar"/>
    
    </form> 

